[submodule "backend"]
	path = backend
	url = git@github.com:aguinaldotupy/economyapp-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:aguinaldotupy/economyapp-frontend.git
[submodule "ide-settings"]
	path = ide-settings
	url = git@github.com:aguinaldotupy/economyapp-intellij-ide-settings.git
